.container{
    max-width: 1440px;
    margin: 0 auto;
}

.block__content{
    display: flex;
    justify-content: center;
}



.Calculator{
    margin-top: 100px;
    background-color: black;
    width: 300px;
    height: 600px;
    border-radius: 50px;
    border: 4px solid grey;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Calculator__answer-field{
    margin-top: 100px;
}
.answer-field{
    width: 250px;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 70px;
    text-align: right;
}
.Calculator__func-buttons{
    margin-top: 10px;
    color: white;
}
.Calculator__func-buttons button:active{
    filter: brightness(110%);
}
.func-buttons__items{
    display: flex;
    justify-content: center;
    gap: 10px;
} 
.func-buttons__item button{
    background-color: rgb(182, 181, 181);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.func-buttons__item p{
    color:black;
}

.number-buttons__items{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.number-buttons__item button{
    background-color: rgb(77, 77, 77);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.number-buttons__item p{
    color: white;
}

.calc button{
    background-color: orange;
}
.calc p{
    color: white;
    font-size: 30px;
}
.big_butt button{
    width: 120px;
    border-radius: 40px;
    display: block;
    text-align: left;
}
.big_butt p{
    margin-left: 17px;
}
